.whole {
    width:500px;
    margin: 0 auto;
}
.title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 18px;
    border-bottom: solid 3px yellow;
    display: inline-block;
}
.choice_square {
    display: block;
    width: 120%;
    padding: 12px;
    margin: 10px auto;
    border: solid 1px #dcdcdc;
    box-shadow: 1px 1px 3px #dcdcdc;
}
.choice {
    padding: 3px;
    margin: 3px;
    font-weight: bold;
}
.choice_square_true {
    display: block;
    background: #287DFF;
    width: 120%;
    padding: 12px;
    margin: 10px auto;
    border: solid 1px #dcdcdc;
    box-shadow: 1px 1px 3px #dcdcdc;
}
.choice_true {
    font-weight: bold;
    color: #FFFFFF;
}
.choice_square_false {
    display: block;
    background: #FF5128;
    width: 120%;
    padding: 12px;
    margin: 10px auto;
    border: solid 1px #dcdcdc;
    box-shadow: 1px 1px 3px #dcdcdc;
}
.choice_false {
    font-weight: bold;
    color: #FFFFFF; 
}
.message {
    background: #F5F5f5;
    width: 118%;
    padding: 18px;
}
.message_true {
    margin-bottom: 10px;
    display: inline-block;
}
.message_true_bottom {
    padding-bottom: 3px;
    font-weight: bold;
    border-bottom: solid 3px #287DFF;
}
.message_false {
    margin-bottom: 10px;
    display: inline-block;
}
.message_false_bottom {
    padding-bottom: 3px;
    font-weight: bold;
    border-bottom: solid 3px #FF5128;
}